<%- include("./header.ejs") %>
  <!--slide start-->
  <div class="carousel slide" data-bs-ride="carousel" id="FFS">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#FFS" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#FFS" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#FFS" data-bs-slide-to="2"></button>
    </div>
    <!--carousel-inner start-->
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="https://res.cloudinary.com/ddz1pswrm/image/upload/v1681756565/SliderImage/ats1inxlnoaibfcqs8bz.jpg"
          alt="" class="w-100" style="height: 95vh;" />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://res.cloudinary.com/ddz1pswrm/image/upload/v1682584435/SliderImage/fprnnchlqmzp5hcd2my5.webp"
          alt="" class="w-100" style="height: 95vh;" />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://res.cloudinary.com/ddz1pswrm/image/upload/v1682584764/SliderImage/lzwwfh8mb91pab3qgqvv.jpg"
          alt="" class="w-100" style="height: 95vh;" />
      </div>
    </div>
  </div>
  <!--slider end-->

  <!-------------------------------------------- search start------------------------------------------------- -->
  <div class="container-fluid mb-5" style="padding: 25px; background-color: rgb(222 247 252);">
    <div class="container">

      <form action="/propertySearch">
        <div class="row">
          <div class="col-md-3">

          </div>

          <div class="col-md-8 ">
            <div class="row">
              <div class="col-md-6">
                <input type="text" required name="search" class="form-control border-2 py-2"
                  placeholder=" Search Property By City , Area ">
              </div>
              <div class="col-md-6 search ">
                <button type="submit" class="btn btn-dark py-2 px-5">Search</button>
              </div>
      </form>
    </div>
  </div>
  <div class="col-md-3"></div>
  </div>
  </form>
  </div>
  </div>
  <!----------------------------------------------Search end---------------------------------------------->

  <div class="container">
    <div class="bg-light rounded p-3">
      <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
        <div class="row">
          <% c.forEach((cat)=>{ %>
            <div class="col-md-4 mb-3">
            <div class="card">
              <a href="/bhk/<%= cat.name %>">
              <img
                src="<%= cat.image.url %>" width="387" height="300">
              <div class="card-body">
                <h5 class="oh1 text-center text-black"><%= cat.name %></h5>
                <center>
                  <button class="big btn-info"><a>Get Now</a></button>
                </center>
              </a>
              </div>
            </div>
          </div>

          <% }) %>

          
          
        </div>
      </div>
    </div>
  </div>
  </div> <!--container end-->

  <!--------------------------------- counter section start------------------------------------------>

  <div class="container mt-5" style="background-color: rgb(134 146 163);">
    <div class="row">
      <div class="col-md-4 count ">
        <h1><span class="counter">1,523</span></h1>
        <h3 class="text-white "> Happy Customers</h3>
        <i class="fa fa-users"></i>
      </div>
      <div class="col-md-4 count">
        <h1><span class="counter">2,230</span></h1>
        <h3 class="text-white">Our Renters</h3>
        <i class="fa-solid fa-user-plus"></i>
      </div>
      <div class="col-md-4 count">
        <h1><span class="counter">12,218</span></h1>
        <h3 class="text-white">Followers</h3>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-whatsapp"></i>
      </div>
    </div>
  </div>

  <!------------------------------counter section end-------------------------------------->

  <!----- property list start ----->

  <div class="container mt-5">
    <div class="bg-light rounded p-3">
      <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
        <div class="mg-t-100 mb-5">
          <h1 class="bhh1">Showing Best Property For You</h1>
        </div>
        <div class="row ">
          <% p.forEach((p)=>{ %>
          <div class="col-lg-4 col-md-6 mb-3">
            <div class="imgbox">
              <a href="/details/<%= p._id %>"><img class="img-fluid"
                  src="<%= p.image.url %>"
                  style="width: 500px;height: 250px;" alt=""></a>
              <div class="rounded text-black position-absolute start-0 top-0 m-4 py-1 px-3" style="background-color: #def7fc;">Rent</div>
              <div class="rounded text-black position-absolute end-0 bottom-0 m-4 py-0 px-1">
                <a class="btn" style="background-color: #def7fc;" href="">Available</a>
              </div>
              <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Apartment
              </div>
            </div>
            <div class="p-4 pb-0">
              <h5 class="text-success mb-3"><%= p.price %>₹</h5>
              <a class="d-block h5 mb-2 text-decoration-none" href=""><%= p.name %></a>
              <p><i class="fa fa-map-marker-alt text-danger me-2"></i><%= p.address %></p>
            </div>
            <div class="d-flex border-top">
              <small class="flex-fill text-center border-end py-2"><i
                  class="fa fa-ruler-combined text-success me-2"></i><%= p.category %></small>
              <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-hand-holding-heart"
                  style="color: #198754;"></i> Fully Furnised</small>
              <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Lat,Bath</small>
            </div>
            <div class="text-center">
              <a class="btn mt-3" style="background-color: #def7fc;" href="/details/<%= p._id %>">View details</a>
            </div>
          </div>
           <% }) %>
          




          <div class="col-12 text-center ">
            <a class="btn btn-success py-3 px-5 mt-3 mb-3" href="/property">Browse More Property</a>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!------ Property list end--- -->

  <%- include("./footer.ejs") %>